language: android

jdk:
  - oraclejdk8

sudo: required

before_install:
 - chmod +x gradlew

script:
  - ./gradlew clean build -i --continue

after_success:
  - bash <(curl -s https://codecov.io/bash) -t myToken